/* ------------------------------------------------------------------------------ */
/*ajustes movil pagina principal*/
@media (max-width: 767px) and (min-width: 601px){
  #paginaPrincipal{
      width: 100%;
      display: grid;
      grid-template-rows: 200px 150px 50px 580px 50px 580px;
      gap: 10px;
      grid-template-columns:10% 80% 10%;
      margin: auto;
  }
}
@media (max-width: 600px){
  #paginaPrincipal{
      width: 100%;
      display: grid;
      grid-template-rows: 200px 150px 50px 880px 50px 880px;
      gap: 10px;
      grid-template-columns:10% 80% 10%;
      margin: auto;
  }
}
@media (max-width: 767px){
  .formAltaUsu{
      margin-top: 15%;
      width: 83%;
      height: 750px;
  }
  #altaUsu{
      padding:5%;
      width:70%;
  }
  .loginAltaUsu{
      grid-template-columns: 80%;
  }

  .formAltaUsu h1{
      font-size:22px;
  }
  #imagenPrecentacion {
      margin: 0 auto;
  }
  /*diseño de los expositores*/
  .expocitoresMenuPrincipal{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border-top: #386B41 solid 1px;
      padding: 10px;
      overflow: auto;
      justify-content: space-evenly;
      
  }
  /*item in div*/
  .displayItem{
      grid-area: 4 / 2;
      width: 150px;
      text-align: center;
      border:#7a7a7a solid 1px;
      margin-left: 10px;
      padding-top: 20px;
      background-color: #35b72915;
      color: black;
     
  }
  .displayItem img{

      width: 120px;
      height: 120px;
      object-fit:scale-down;
  }
  .displayItemMore{
      grid-area: 4 / 2;
      width: 150px;
      height: 199.5px;
      text-align: center;
      border:#7a7a7a solid 1px;
      margin-left: 10px;
      padding-top: 20px;
      background-color: #35b72915;
      color: black;
  }
  .displayItemMore img{
      width: 100px;
      height: 100px;
      object-fit:scale-down;
      padding-top: 20px;
  }
  #imagenPrecentacion {
      margin: auto;
  }

  /* Diana Salma */
  #container{
      padding-left: 5px;
  }
  /*ajustes movil pagina principal*/
  #imagenPrecentacion {
      margin: 0 auto;
  }
  /*diseño de los expositores*/
  .expocitoresMenuPrincipal{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border-top: #386B41 solid 1px;
      padding: 10px;
      overflow: auto;
      justify-content: space-evenly;
      
  }
  /*item in div*/
  .displayItem{
      grid-area: 4 / 2;
      width: 150px;
      text-align: center;
      border:#7a7a7a solid 1px;
      margin-left: 10px;
      padding-top: 20px;
      background-color: #35b72915;
      color: black;
  }
  .displayItem img{
      width: 120px;
      height: 120px;
      object-fit:scale-down;
  }
  .displayItemMore{
      grid-area: 4 / 2;
      width: 150px;
      height: 199.5px;
      text-align: center;
      border:#7a7a7a solid 1px;
      margin-left: 10px;
      padding-top: 20px;
      background-color: #35b72915;
      color: black;
  }

  .displayItemMore img{
      width: 100px;
      height: 100px;
      object-fit:scale-down;
      padding-top: 20px;
  }

  #imagenPrecentacion {
      margin: 0 auto;
  }

  .modUsu{
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 450px !important;
      width: 100%;
      /* margin-top: 600px !important; */
  }

  #modusu{
      grid-template-columns: 100%;

  }
  .imgDet{
      width:50px;
      height: 50px;
  }

  .mP .tablaP0 td{
      padding:6px !important;
  }

  .tablaP0{
      padding-top:5%;
      font-size: 10px;
  }

  #supr{
      display: none;
  }

  #tablaP1{
      text-align: center;
      margin-left: 10%;
      display: contents;
  }

  #tablaP1 h2{
      text-align: center !important;
  }
  .tablaP img{
      width:30px;
      height:60px;
  }

  .tablaP{
      font-size:11px;
  }

  .mP{
      background-color: #dfdbdb !important;
      width: 100% !important;
      margin-top: 0px !important;
      height: 200px !important;
      margin-left: 00px !important;
  }

  .books{
      grid-template-columns: 10%;
      margin-left: 10% !important;
  }
  .books div{
      margin-left: 33px !important;
  }
  .numFav{
      margin-left: 140px;
  }
  .lupaMenu{
      display: none;
  }

  .miPerfil{
      width:30%;
  }
  .searcher{
      display:none;
  }
  #logo a{
      font-size: 17px;
      letter-spacing: 0;
  }
  .mostrarProductos{
      margin: auto;
      display: flex;
      width: 550px;
      justify-content: space-evenly;
      flex-wrap:wrap;
      gap: 10px;
  }
  .tituloPantallaBuscar{
      padding: 0%;
      text-align: center;
  }
  #container form , #container .element1{
      display: none;
  }
  .menuVertical , .menuVertival{
      display: none;
  }

  .cestaVacia{
      width: 80%;
      margin-top: 150px;
  }
  #div1{
      display: block;
      position: relative;
      bottom: 40px;
  }
  .divimagenLibro{
      margin: 0 auto;
  }
  .img1{
      bottom: 520px;
      left: 270px;
  }
  .textoDetalle{
      position: relative;
      bottom: 50px;
      width: 90%;
      right: 20px;
  }
  .ediIsbn{
      width: 200px;
  }
  .botonAñadir{
      width: 70%;
      margin-bottom: 80px;
  }
  .botonAñadir img{
      display: none;
  }
  .divDescriLibro{
      width: 100%;
  }
  footer{
      display: none;
  }
  .divPrecioLibro{
      margin-bottom: 30px;
  }
  .divCompra , .cesta h1{
      display: none;
  }
  .cesta{
      width: 100%;
  }

  .libroCarrito div:first-child div:first-child{
      width: 35%;
      padding: 0;
  }
  .divTitu{
      position: relative;
      bottom: 20px;
      margin-left: 3px !important;
  }

  .last{
      margin-left: 106px;
      margin-top: 37px;
      position: relative;
      bottom: 114px;
  }
  .aut{
      width: 300px;
  }
  .pr{
      top: 2px;
      font-size: 15px;
      left: 9px;
  }
  .divPreu{
      position: relative;
      left: 57px;
      bottom: 11px;
  }
  .last form input[type="submit"]{
      background-color: green;
      color: white;
  }
  .last form{
      width: 250px;
      position: relative;
      bottom: 20px;
  }
  .divA{
      position: relative;
      bottom: 23px;
  }
  .favorTitle{
      width: fit-content;
  }
  .miPerfil{
      width: fit-content;
  }
  .formPerfil{
      width: 80%;
      margin: 5px 31px;
  }
  .backbox{
      background: transparent;
      border: transparent;
  }
  .frontbox{
      right: 122px;
      background: linear-gradient(135deg , rgb(158, 158, 158) 10%, rgb(167, 222, 162) 80%);
  }
  .loginMsg a{
      background-color: transparent;
      color: black;
      text-decoration: underline;
      position: relative;
      top: 263px;
      left: 316px;
      border: transparent;
      font-weight: bold;
  }
  .textcontent p{
      display: none;
  }
  
  .logoPic img{
      margin: 20px 0 !important;
      height: 30px !important;
      width: 30px !important;
  }
  #container .element2{
      font-size: 13px;
      width: 100px;
      line-height: 80px;
      position: absolute;
      right: 114px;
  }
  #container .element5 img{
      height: 30px;
      width: 30px;
      padding-top: 11px;
  }
  #container .element5{
      position: absolute;
      right: 149px;
      width: 50px;
      top: 3px;
  }
  #container .element4{
      font-size: 13px;
      position: relative;
      left: 35px;
      line-height: 80px;
  }
  b{
      font-size: 13px;
      left: -14px;
  }
  .perfil{
      height: 30px !important;
      width: 30px !important;
      position: relative;
      bottom: 119px;
      right: 8px;
  }
  .usuario{
      position: relative;
      left: 41px;
      line-height: 118px !important;
      width: 150px;
  }
  .zeroRows{
      width: 250px !important;
      margin-top: 0px;
      padding: 30px;    
  }
  .mm{
      bottom: 177px;
  }
   .tb{
      width:20%;
  }
  .mP{
      background-color: #dfdbdb !important;
      width: 100% !important;
      margin-top: 0px !important;
      height: 600px !important;
      margin-left: 00px !important;
  }
  
@media (max-width: 767px) and (min-width: 401px){
  .tb{
      width:80% !important;
  }
}


}
