<header>
    <a href="index.php">Projecte botiga virtual</a>
</header>
<nav id="menu">
    <ul>
		<li><a href="#">Libros</a></li>
		<li><a href="#">Novedades</a></li>
		<li><a href="#">Comic/Manga</a></l>
		<li><a href="#">Infantil</a></li>
		<li><img class="perfil" src="pic/perfil.png" alt="">
			<ul>
				<li><a href="index.php?controller=cliente&action=logearCliente">Detalle libro</a></li>
				<li><a href="#">Modificar perfil</a></li>
				<li><a href="#">Mis favoritos</a></li>
				<li><a href="#">Mis pedidos</a></li>
				<li><a href="index.php?controller=admin&action=salir">Cerrar sesión</a></li>
			</ul>
		</li>
	 </ul>
</nav>