<header>
    <a href="index.php">Projecte botiga virtual</a>
</header>
<nav id="menu">
    <ul>
		<li><a href="#">Libros</a></li>
		<li><a href="#">Novedades</a></li>
		<li><a href="#">Comic/Manga</a></l>
		<li><a href="#">Infantil</a></li>
		<li><a href="#">Perfil</a>
			<ul>
				<li><a href="#">Productos</a></li>
				<li><a href="index.php?controller=categoria&action=mostrarCategorias">Categorías</a></li>
				<li><a href="index.php?controller=pedido&action=mostrarReservas">Pedidos</a></li>
			</ul>
		</li>
	 </ul>
</nav>
